
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/instantclick.min.js" data-no-instant></script>
    <script data-no-instant>InstantClick.init();</script>
</body>

</html>