<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger</title>
    <meta name="description" content="">
	<meta name="keywords" content="">
	<meta property="og:title" content="" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/user.css">
    <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand navbar-link" href="/"><span class="text-title"></span></a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                        <li id="signup" role="presentation"><a href="/signup">Sign-up </a></li>
                        <li id="login" role="presentation"><a href="/login">Login </a></li>
                        <% } else { %>
                        <li class="bg-success text-white" id="new" role="presentation"><a href="/new">Add a new post </a></li>
                        <li id="logout" role="presentation"><a href="/logout">Logout [<%= currentUser.username %>] </a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        <!--<div class="jumbotron" style="background-color: rgba(255,255,255,.8)">-->
            <!--<h1 class="text-center">Blogging made simple!</h1>-->
            <!--<% if(!currentUser){ %>-->
            <!--<p class="text-center"><a href="/signup">Join us</a>, and start blogging, now!</p>-->
            <!--<% } %>-->
            <!--<p></p>-->
        <!--</div>-->
    </header>
        <div class="container">
            <% if (success!=""){ %>
            <div class="alert alert-success text-center" role="alert">
                <%= success %><% if(success=="Welcome back"){%> «<%= currentUser.username %>» <% } %>
            </div>
            <% } %>
            <% if (error!=""){ %>
            <div class="alert alert-danger text-center" role="alert">
                <%= error %>
            </div>
            <% } %>
        </div>
